<div class="about">

    <div class="TEXT">
      <h1>About Us</h1>
      <p>This is the world of photography</p>
      <h1>More</h1>
  <ol><li><em>Home</em> page accessed by the “/home”</li>
  <li><em>About</em> page accessed by the “/about”</li>
  <li><em>Albums</em> page accessed by the “/albums”</li>
  <li><em>Album details</em> page accessed by the “albums/:id”</li>
  <p>Example: "/albums/1"</p>
  <li><em>Photo</em> page accessed by the "albums/:id/photos"</li>
  <p>Example: "/albums/1/photos"</p>
  </ol>
    </div>
  </div>